body, html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#rectangle {
  height: 100vh;
  width: 350px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.item {
  padding: 10px;
  cursor: pointer;
}

.item .icon {
  width: 10px; /* O 20px si prefieres forma de rectángulo */
  height: 10px; /* O igual, 10px si es rectángulo */
  background-color: rgb(255, 255, 255); /* O blue para rectángulo */
  border-radius: 50%; /* Elimina esto si prefieres un rectángulo */
  display: inline-block;
  margin-right: 10px;
  border: 1px solid rgb(151, 150, 150)
}

.item .icon2 {
  width: 10px; /* O 20px si prefieres forma de rectángulo */
  height: 10px; /* O igual, 10px si es rectángulo */
  background-color: rgb(195, 207, 255); /* O blue para rectángulo */
  border-radius: 50%; /* Elimina esto si prefieres un rectángulo */
  display: inline-block;
  margin-right: 10px;
}

.item .icon3 {
  width: 10px; /* O 20px si prefieres forma de rectángulo */
  height: 10px; /* O igual, 10px si es rectángulo */
  background-color: rgb(160, 161, 254); /* O blue para rectángulo */
  border-radius: 50%; /* Elimina esto si prefieres un rectángulo */
  display: inline-block;
  margin-right: 10px;
}
.item .icon4 {
  width: 10px; /* O 20px si prefieres forma de rectángulo */
  height: 10px; /* O igual, 10px si es rectángulo */
  background-color: rgb(137, 255, 254); /* O blue para rectángulo */
  border-radius: 50%; /* Elimina esto si prefieres un rectángulo */
  display: inline-block;
  margin-right: 10px;
}
.item .icon5 {
  width: 10px; /* O 20px si prefieres forma de rectángulo */
  height: 10px; /* O igual, 10px si es rectángulo */
  background-color: rgb(134, 249, 154); /* O blue para rectángulo */
  border-radius: 50%; /* Elimina esto si prefieres un rectángulo */
  display: inline-block;
  margin-right: 10px;
}
.item .icon6 {
  width: 10px; /* O 20px si prefieres forma de rectángulo */
  height: 10px; /* O igual, 10px si es rectángulo */
  background-color: rgb(254, 255, 63); /* O blue para rectángulo */
  border-radius: 50%; /* Elimina esto si prefieres un rectángulo */
  display: inline-block;
  margin-right: 10px;
}
.item .icon7 {
  width: 10px; /* O 20px si prefieres forma de rectángulo */
  height: 10px; /* O igual, 10px si es rectángulo */
  background-color: rgb(255, 204, 63); /* O blue para rectángulo */
  border-radius: 50%; /* Elimina esto si prefieres un rectángulo */
  display: inline-block;
  margin-right: 10px;
}
.item .icon8 {
  width: 10px; /* O 20px si prefieres forma de rectángulo */
  height: 10px; /* O igual, 10px si es rectángulo */
  background-color: rgb(254, 153, 63); /* O blue para rectángulo */
  border-radius: 50%; /* Elimina esto si prefieres un rectángulo */
  display: inline-block;
  margin-right: 10px;
}
.item .icon9 {
  width: 10px; /* O 20px si prefieres forma de rectángulo */
  height: 10px; /* O igual, 10px si es rectángulo */
  background-color: rgb(254, 65, 63); /* O blue para rectángulo */
  border-radius: 50%; /* Elimina esto si prefieres un rectángulo */
  display: inline-block;
  margin-right: 10px;
}
.item .icon10 {
  width: 10px; /* O 20px si prefieres forma de rectángulo */
  height: 10px; /* O igual, 10px si es rectángulo */
  background-color: rgb(200, 22, 20); /* O blue para rectángulo */
  border-radius: 50%; /* Elimina esto si prefieres un rectángulo */
  display: inline-block;
  margin-right: 10px;
}
.item .icon11 {
  width: 10px; /* O 20px si prefieres forma de rectángulo */
  height: 10px; /* O igual, 10px si es rectángulo */
  background-color: rgb(127, 22, 20); /* O blue para rectángulo */
  border-radius: 50%; /* Elimina esto si prefieres un rectángulo */
  display: inline-block;
  margin-right: 10px;
}
.item .icon12 {
  width: 10px; /* O 20px si prefieres forma de rectángulo */
  height: 10px; /* O igual, 10px si es rectángulo */
  background-color: rgb(61, 65, 64); /* O blue para rectángulo */
  border-radius: 50%; /* Elimina esto si prefieres un rectángulo */
  display: inline-block;
  margin-right: 10px;
}


#dialog {
  max-width: 300px;  /* Ajusta esto según el tamaño necesario */
  padding: 10px;
  border: 1px solid #ccc;



  display: none;
  position: absolute;
  background-color: white;


  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  word-wrap: break-word;
  white-space: pre-wrap; /* This will handle newline characters */
  overflow: auto; /* Adds a scrollbar if the content is too large */
  max-height: calc(100% - 20px); /* Adds a max height to prevent overflow */


  font-size: 12px;  
}

#dialog.small {
  font-size: 12px; /* Smaller font size */
}

